form {
  button {
    color: #fff;
  }
  .input-wrapper {
    width: 100%;
    margin-bottom: 20px;
    label {
      display: block;
      margin-bottom: 5px;
      font-size: 17px;
      font-weight: bold;
    }
    .input-group {
      display: flex;
      align-items: center;
      width: 100%;
      gap: 10px;
    }
    input {
      width: 100%;
      background-color: transparent;
      outline: none;
      border: 2px solid #344c64;
      padding: 15px 20px;
      border-radius: 5px;
      font-size: 17px;
    }
    span {
      border: 2px solid #344c64;
      padding: 15px;
      border-radius: 5px;
      cursor: pointer;
      background-color: transparent;
    }
  }
}

@media (max-width: 767px) {
  .input-group {
    flex-wrap: wrap;
  }
}
